server {
  listen 80 default_server;
  listen [::]:80;
{% if domain_name == "default" %}
  server_name _;
{% else %}
  server_name {{ domain_name }};
{% endif %}

  root {{ www_document_root }};
  index index.php;

  location / {
    try_files $uri $uri/ /index.php?$query_string;
  }
  location = /favicon.ico { access_log off; log_not_found off; }
  location = /robots.txt  { access_log off; log_not_found off; }

  location ~ \.php$ {
    try_files $uri =404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }
}